*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.app{
    text-align: center;
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    /* color: white; */
    background-image: linear-gradient(79deg,#810aca, #234aa5 48%, #ca1280de  );
}

.auth-form-container, .signup-form, .login-form {
    display: flex;
    flex-direction: column;
    
}
@media screen and (min-width:500px) {
    .auth-form-container {
        padding: 5rem;
        border: 1px solid white;
        border-radius: 12px;
        margin: 0.5rem;
    }
    
}

.auth-form-container > h2 {
    color: white;
    font-size: large;
    font-weight: 500;
}


label {
    color: white;
    text-align: left;
    padding: 0;
}

input{
 margin: 0.5rem 0;
 padding: 0.5rem;
 border: none;
 border-radius: 10px;
}

.login-btn, .signup-btn {
    padding: 8px;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
    color: #810aca;
    font-weight: 600;
    margin-top: 1rem;
}

.link-btn{
    margin-top: 0.5rem;
    color: white;
    text-decoration: underline;
}


.outerBar{
    height:20px;
    width:400px;
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    
}

.innerBody{
    width: 50%;
    height: 20px;
    background-color: #810aca;
    position: absolute;
    left: 0;

}

.animation-body{
    height: 100vh;
    background: #0c192c;
    width: 100vw;
}
.container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin-top: 0;
    box-sizing: border-box;
}

.bubbles{
    position: relative;
    display: flex;
}

.bubbles span{
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #4fc3dc;
    margin: 0 4px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    animation: animate 15s linear infinite;
    animation-duration: calc(100s / var(--i));
}

.bubbles span:nth-child(even){
    background-color: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544,
     0 0 50px #ff2d75,
      0 0 100px #ff2d75;
 
}

@keyframes animate{
    0%{
        transform: translateY(100vh)scale(0);
    }
    100%{
        transform: translateY(-10vh)scale(1);
    }
}